<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Place the cage</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="hero">
          <span>Welcome to <span class="invert">placethecage</span></span>
          <p>A quick and simple image placeholder service.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <span>How does it work? Just put your image size after our URL and you'll get a placeholder.</span>
        <div class="box">
          <p>Like this: <a href="https://placethecage.herokuapp.com/500" class="invert">https://placethecage.herokuapp.com/500</a></p>
        </div>
        <span>You can also use it in your code, like this:</span>
        <div class="box">
          <p>&lt;img src="https://placethecage.herokuapp.com/500" alt="nicpic" /&gt;</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <img src="https://placethecage.herokuapp.com/350/150" alt="" class="pull-right img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img src="https://placethecage.herokuapp.com/140/100" alt="" class="pull-right img-responsive">
            <img src="https://placethecage.herokuapp.com/150/100" alt="" class="pull-right img-responsive">
            <img src="https://placethecage.herokuapp.com/60/100" alt="" class="pull-right img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
